{% load static %}

<div class="modal fade bs-example-modal-lg upload_file" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Add a New Doctor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!-- <form  method="post" id="upload_file"> -->


                    <form method="post" class="card-box" id="form-upload" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Example file input</label>
                            <input type="file" name="file" class="form-control file" id="uploaded_file">
                        </div>
    
                    
                    <button type="submit" value="Post" class="btn btn-primary btn-outline-white px-4 mt-0 mb-3" data-dismiss="modal" aria-hidden="true"><i class="mdi mdi-plus-circle-outline mr-2"></i>Upload Files
                    </button>
                    </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <!--  -->
</div>